body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
  font-weight: 900;
  margin: 0;
}
.orange {
  color: #ff6600;
}
.flex_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.half_width {
  width: 700px;
  padding-left: 2%;
}
.half_width img {
  width: 80%;
  display: flex;
  margin: 0 auto;
  text-align: center;
}
.link_button {
  text-decoration: none;
  color: white;
  font-weight: 700;
  background-image: linear-gradient(#ff6600, #ff9900);
  padding: 10px 40px;
  border-radius: 5px;
}
.top_banner {
  background-image: url(/images/top-banner.png);
  background-repeat: no-repeat;
}
.dream {
  background-image: url(/images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experience {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.experience_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.experience_items h1 {
  font-size: 35px;
  font-weight: 600;
}
.experience_items {
  width: 40%;
  height: 300px;
  margin: 2%;
  padding: 25px 50px;
  box-shadow: 10px 10px 40px lightslategray;
}
.orange_border {
  border-left: 7px solid #ff6600;
}
.blue_border {
  border-left: 7px solid blue;
}
